

<%= form_tag("/play",method:"post") do %>

	<button type="submit" name="nivel" value="n1" class="btn btn-success btn-lg a"><p>Facil</p></button>

	<button type="submit" name="nivel" value="n2" class="btn btn-warning btn-lg a"><p>Normal</p></button>

	<button type="submit" name="nivel" value="n3" class="btn btn-danger btn-lg a"><p>Dificil</p></button>

<% end %>

<style type="text/css">
p{
	font-size: 40px;
}
.a{
	width: 300px;
	height: 90px;
	margin-left: 200px;
	margin-top: 300px;
}
	
</style>