<%= form_tag("/play",method:"post") do %>

	<button type="submit" name="nivel" value="n1">Facil</button>

	<button type="submit" name="nivel" value="n2">Normal</button>

	<button type="submit" name="nivel" value="n3">Dificil</button>

<% end %>